<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="trophy.projetc2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Navigation.User_Focus"></activity>
        <activity android:name=".Navigation.TeamMake"></activity>
        <activity android:name=".Navigation.TeamSearch" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".Navigation.Last_Contest"></activity>
        <activity android:name=".Navigation.Last_Contest_Detail"></activity>
        <activity android:name=".Navigation.TeamSearch_Focus"></activity>
    </application>
    <uses-permission  android:name="android.permission.INTERNET" />
</manifest>