<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="trophy.projetc2">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SportChoiceActivity"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Navigation.TeamFocus"></activity>
        <activity android:name=".Navigation.User_Focus"></activity>
        <activity android:name=".Navigation.TeamMake"></activity>
        <activity android:name=".Navigation.TeamInfo"></activity>
        <activity android:name=".Navigation.TeamSearch" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".Navigation.TeamRanking"></activity>
        <activity android:name=".Navigation.Last_Contest"></activity>
        <activity android:name=".Navigation.Last_Contest_Detail"></activity>
        <activity android:name=".Navigation.Notice"></activity>
        <activity android:name=".Navigation.Suggest"></activity>
        <activity android:name=".Navigation.TeamSearch_Focus"></activity>
        <activity android:name=".Navigation.TeamManager"></activity>
        <activity android:name=".Contest.Navigation_Contest"></activity>
        <activity android:name=".Navigation.TeamManager_ContestJoin_ContestFocus"></activity>
        <activity android:name=".Contest.Contest_Detail"></activity>
        <activity android:name=".Contest.Contest_Detail_Form"></activity>
        <activity android:name=".Navigation.Last_Contest_ViewPager"></activity>
        <activity android:name=".Navigation.Match"></activity>
        <activity android:name=".Navigation.Match_Write"></activity>
        <activity android:name=".Navigation.Match_Focus"></activity>
        <activity android:name=".Navigation.MyMatch"></activity>
        <activity android:name=".Navigation.MyMatch_Focus"></activity>
        <activity android:name=".Navigation.OutCourt_Address"></activity>
        <activity android:name=".Navigation.OutCourt_CourtInfo"></activity>
        <activity android:name=".Navigation.OutCourt_CourtInfo_Focus"></activity>

        <activity android:name=".User.Login"></activity>
        <activity android:name=".User.ChangePersonalInfoActivity"></activity>
        <activity android:name=".User.ChangePw1Activity"></activity>
        <activity android:name=".User.ChangePw2Activity"></activity>
        <activity android:name=".User.Withdrawal"></activity>
        <activity android:name=".User.Find_Password"></activity>
        <activity android:name=".User.Find_Password_Change"></activity>
        <activity android:name=".User.ChangePhoneActivity"></activity>
        <activity android:name=".User.ChangeAreaActivity"></activity>
        <activity android:name=".User.Terms"></activity>
        <activity android:name=".User.Join"></activity>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
        App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <service
            android:name=".User.MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".User.MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
    <uses-permission  android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
</manifest>