<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="trophy.projetc2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SportChoiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".User.Login"></activity>
        <activity android:name=".Navigation.User_Focus"></activity>
        <activity android:name=".Navigation.TeamMake"></activity>
        <activity android:name=".Navigation.TeamSearch" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".Navigation.Last_Contest"></activity>
        <activity android:name=".Navigation.Last_Contest_Detail"></activity>
        <activity android:name=".Navigation.TeamSearch_Focus"></activity>
        <activity android:name=".Navigation.TeamManager"></activity>
        <activity android:name=".Contest.Contest_Detail"></activity>
        <activity android:name=".Contest.Contest_Detail_Form"></activity>
        <activity android:name=".User.ChangePersonalInfoActivity"></activity>
        <activity android:name=".User.MemberShip"></activity>
        <activity android:name=".User.ChangePw1Activity"></activity>
        <activity android:name=".User.ChangePw2Activity"></activity>
        <activity android:name=".User.Withdrawal"></activity>
        <activity android:name=".Navigation.Last_Contest_ViewPager"></activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
    <uses-permission  android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
</manifest>